/*body {
  background-color: rgb(0, 0, 255);
}*/

header {
  margin: auto;
  text-align: center;
  border: 5px outset black;
  width: 1000px;
  background-image: url('images/ocean.jpg');
  padding-bottom: 10px;
}

h1 {
  font-size: 50px;
  margin: 0 auto;
}

h2 {
  font-size: 30px;
  text-align: center;
}

p {
  font-size: 20px;
}

h4 {
  font-size: 20px;
  font-style: italic;
  margin: 0 auto;
}

section {
  margin: auto;
  width: 787px;
}

#salmon {
  margin: auto;
  width: 787px;
}

#store_info {
  margin: auto;
  width: 1385px;
}

ul {
  display: inline-block;
  margin: auto;
}
