/*body {
  background-color: rgb(0, 0, 100);
}*/

header {
  margin: auto;
  text-align: center;
  border: 5px outset black;
  width: 1000px;
  background-image: url('images/ocean.jpg');
  padding-bottom: 10px;
}

h1 {
  font-size: 50px;
  margin: 0 auto;
  font-family: Times;
}

h2 {
  margin: 10px;
  text-decoration: underline;
  font-size: 30px;
  text-align: center;
}

h3 {
  margin: auto;
  text-align: center;
}


p {
  font-size: 20px;
  font-family: serif;
  margin: auto;
  padding: 10px;
}

h4 {
  font-size: 20px;
  font-style: italic;
  margin: 0 auto;
}


/*#sales_data {
  color: white;
}*/


section {
  margin: 10px auto;
  width: 1000px;
  border: 5px outset black;
  padding: 10px 0;
  background-color: rgb(0, 100, 255);
  color: white;
}

#salmon {
  margin: auto;
  width: 787px;
}

#store_info {
  margin: auto;
  width: 1385px;
}

td {
  text-align: right;
}
