body {
  /*background-image: url('images/ocean.jpg');*/
  background-attachment: fixed;
  background-size: cover;
}

header {
  margin: auto;
  text-align: center;
  border: 5px outset;
  width: 1056px;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}

main {
  width: 1056px;
  margin: 10px auto;
  border: 5px outset black;
  position: relative;
  background-color: rgba(100, 200, 200, 0.78);
}

h1 {
  font-size: 50px;
  margin: 10px auto;
  font-family: 'Average', serif;
  color: rgb(50, 100, 255);
  }

  h2 {
    font-size: 40px;
    margin: 10px auto;
    text-align: center;
    width: 600px;
  }

  h3 {
    font-size: 40px;
    text-align: center;
  }

  h4 {
    font-size: 20px;
    font-style: italic;
    margin: 0 auto;
    color: rgb(50, 100, 255);
  }

  nav {
    margin: 10px auto;
    border: 5px outset black;
    width: 1056px;
    background-image: url('assets/frosted-cookie.jpg');
    background-size: contain;
  }

  ul {
    text-align: center;
    width: 45%;
    margin: 5px auto;
    padding: 0;
  }

  li {
    background-color: rgba(100, 200, 200, 0.9);
    border-radius: 50px;
    padding: 2px 10px;
    font-size: 28px;
    font-weight: bold;
    display: inline;
    margin: auto 5px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  #main_paragraph {
    display: inline-block;
    width: 63%;
    margin: auto 10px;
    font-size: 20px;
    float: left;
    font-family: Georgia;
    /*font-weight: bold;*/
    line-height: 179%;
  }

  p {
    text-align: center;
    font-size: 20px;
    font-family: Georgia;
  }

#family {
  width: 33%;
  border: 3px groove red;
  border-radius: 50%;
}


#locations {
  text-align: left;
  margin-bottom: 15px;
  margin-left: 75px;
}

#locations td {
  width: 450px;
  text-align: left;
  padding: 0 25px 20px 0;
  vertical-align: top;
  font-size: 18px;
}

#locations th {
  text-align: center;
  font-size: 30px;
  padding-right: 25px;
}

#locations td {
  text-align: center;
}

#sales_data {
  font-family: Arial;
  position: relative;
}

#sales_data table {

}

#salmon {
  margin: auto;
  width: 787px;
}

table {
  margin: auto;
}

td {
  text-align: right;
}

#merchandise {
  border-collapse: collapse;
}

#merchandise td {
  text-align: left;
  vertical-align: top;
  border: 3px solid black;
}

.merch {
  width: 324px;
}

/*#create_store {
  position: absolute;
  top: 210px;;
}*/
